@font-face {
  font-family: 'C64';
  src:  url('text/Commodore-64-v6.3.ttf');
}

@font-face {
  font-family: 'C64-r';
  src:  url('text/Commodore-Rounded-v1.2.ttf');
}

body {
  background-color:#181818;
  background-image: url("img/64.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.0em;
}

h1, h3, h4{
  font-size: 1.0em;
}

h2{
  font-size: 1.3em;
}
ul li{
  list-style: none;
  padding: 5px;
}

#header img{
    margin: auto;
    margin-top: 5%;
	display: block;
    width: 70%;
    height: 70%;
}

#main{
    color: white;
    text-align: center;
    text-shadow:rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.screen-64 {
    position:relative;
    background-color: #4449de;
    opacity: 0.95;
    font-family: 'C64';
    color: white;
    margin: 5% 10% 10% 10%;
    padding: 5px 2% 0 2%;
    font-size: 2em;
    z-index: 1;
}

.populate {
    text-align: center;
}

.element{
    text-align: left;
}

.input-form{
    bottom:0;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
    height:50px;
    font-size: 1em;
    transition:height 1s;
    -webkit-transition:height 1s;
    font-family: 'C64';
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 500px) {
    .screen {
        font-size: 1em;
    }
}
